html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


/*Custom CSS
-------------------------------------------------- */

html {
    background-image: linear-gradient(to top, #c1e6ee, #e0e9eb70);
}

body{
    background:none;
}

#no-results-container {
    background: #C8CCC1;
    height: 100vh;
    position: relative;
}

    #no-results-container img {
        width: 400px;
        position: absolute;
        bottom: 0;
    }

#search-form button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.message-container {
    display: inline-block;
    position: absolute;
    left: 10%;
    top: 40%;
}

.no-results-message {
    display: inline-block;
    width: 300px;
    padding: 25px 15px;
    border-radius: 50px;
    position: relative;
    margin: 0;
    font-size: 33px;
    text-align: center;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #00000050;
    display: none;
    z-index: 99;
    top: 0;
}

#loader {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    display: block;
    text-align: center;
    height: 300px;
    color: #FFF;
    transform: translateY(-50%);
    z-index: 1000;
    display: none;
}

    #loader img {
        width: 300px;
        height: 300px;
    }

    #loader p {
        font-size: 28px;
        color: black;
        font-weight: 600;
    }


#search-hero.display-fixed {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
    padding: 25px 0 10px 0px !important;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 98;
}

    #search-hero.display-fixed p, #search-hero.display-fixed img, #search-hero.display-fixed h1{
        display:none !important;
    }