@model BooksApp.Models.VolumeModel

@{
    ViewData["Title"] = "SearchResults";
}

<h1>SearchResults</h1>

@if (Model.TotalItems <= 0)
{
    <div id="no-results-container">
        <div class="row">
            <div class="col text-center">
                <div class="bubble-container">
                    <div class="bubble">Sorry there are no books matching those keywords. Please try something else.</div>
                </div>
                <img src="/lib/content/bookshelf-empty.svg" />
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col">
            <h3 class="mb-0">
                Books on File
            </h3>
        </div>
    </div>

    <div id="search-results">
        <div class="row">
            <div class="col">
                <p class="mb-0">
                    @Model.TotalItems book(s) matching the query "<span class="text-info"></span>
                </p>
            </div>
        </div>
        <hr />
    </div>

    <div id="books-details">
        <partial name="_BooksDetails" model="@Model.Items" />
    </div>
}

